/* Reset styles */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer, main, header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container {
  position: relative;

  height: 400px;
  width: 400px;

  background-color: #d9d9d9;

  overflow: hidden;
}

.circle-small {
  position: absolute;
  z-index: 3;

  top: 137px;
  right: 74px;

	height: 100px;
  width: 100px;

	background-color: #0ca564;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.circle-big {
  position: absolute;
  z-index: 1;

  top: -106px;
  left: -93px;

	height: 320px;
  width: 320px;

	background-color: #248456;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.triangle {
  position: absolute;

  top: 0;
  right: 0;

  width: 0;
	height: 0;

	border-bottom: 109px solid #cc3506; 
	border-left: 100px solid transparent;
}

.rectangle {
  position: absolute;
  z-index: 2;

  top: 153px;
  left: 44px;

	height: 47px;
  width: 310px;
	background-color: #184197;

  transform: rotate(47deg);
}

.oval {
  position: absolute;
  z-index: 3;

  top: 269px;
  left: 49px;

  width: 303px;
	height: 82px;

  background-color: #8f0fbc;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
